.DS_Store
*.pdf
nvim_backup
nvim_backup2
.zcompdump
.zsh_history
.zsh_history.new
.zsh_history.new
.zsh_sessions
configstore
fish
emacs
doom
gcloud
gh
ghc
gtk-2.0/
gtk-3.0/
nvim/lazy-lock.json
nvim/spell
raycast 
.zsh_history.LOCK
